
@model IEnumerable<School.ViewModels.GroupOrganization.ActivityTerms.ActivityTermVM>
@using School.Common.JsonModels;
@{
    Layout = "_BackstageManagementLayout";
    var pageParameter = ViewBag.PageParameter as School.Common.JsonModels.ListPageParameter;
}
<script src="~/js/GroupOrganization/ActivityTerm/index.js"></script>
<link href="~/css/managerCenter/information_activityDetailed.css" rel="stylesheet" />
<div id="activityTermWorkPlace">
    @Html.Partial("../../Views/GroupOrganization/ActivityTerm/_List", Model)
</div>

<div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">删除确认</h4>
            </div>
            <div class="modal-body">
                <p id="deleteModalMessage"></p>                         <!--这是一个空的文字段落标签，用于显示所需要的提示信息-->
                <p id="deleteModalErrMessage" style="color:red"></p>   <!--这是一个空的文字段落标签，用于显示数据删除操作是否成功-->
                <input type="hidden" name="activityTremID" id="activityTremID" />   <!--这是一个隐藏的数据标签，用于转移待删除对象的ID-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary confirm-delete">确认</button>
            </div>
        </div><!-- /.会话框的内容 -->

    </div><!-- /.会话框形式 -->
</div><!-- /.modal -->
@Html.Partial("~/Views/GroupOrganization/ActivityTerm/ModelCreateOrEdit.cshtml")
@Html.SGoSetListPageParameter(pageParameter)