.activity-info:before {
    content: " ";
    clear: both;
}
.activity-info:after
{
    content: " ";
    clear: both;
    display: table;
}
.activity-info {
    margin: 30px 30px;
}
    .activity-info label {
        float: left;
        display: inline-block;
        width: 14%;
        text-align: right;
        color: #4a4a4a;
        margin-top: 4px;
    }
.activity-info span
{
    display: inline-block;
    width: 60%;
    color:#333;
}
.ac-image-op
{
    position: relative;
    display: inline-block;
}
.ac-image-op i
{
    position: absolute;
    top:0;
    right:0;
    padding: 4%;
    color: #fff;
    background-color:rgba(6,6,6,0.3);
}
.add-images
{
    display: inline-block;
    width: 100%;
    height: 194px;
    line-height: 194px;
    text-align: center;
    font-size: 60px;
    background: #eee;
}