@{
    Layout = "_emptyLayout";
    ViewData["Title"] = "这...你还没有登录";
}
<link href="~/lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
<link href="~/css/Error/404.css" rel="stylesheet" />
<body>
    <div class="page-404">
        <p class="text-404" style="font-size: 108px">未登录</p>
        <h2>哇卡!</h2>
        <p>有些东西出毛病了，或者那个页面还不存在。<br><a href="../../ShoolStart/Index">返回首页</a></p>
    </div>
</body>