<!--个人简介和导航开始-->
<link href="~/css/managerCenter/information_image.css" rel="stylesheet" />
<div class="clearfix info-setting">
    <div>
        <div>
            <h5 class="title_per title-in">更换头像</h5>
        </div>
       
        <div class="per-hobby">
            <div class=" head-portrait-change">
                <a href="#" class="head-portrait"><img src="@ViewBag.Head" alt=""></a>
                <input type="file" class="head-file">
                <div class="info-operation-bottom head-portrait-an">
                    <button class="tn-head-portrait">更换图片</button>
                </div>
            </div>
            <div class="sc-left">
                <div class="preview">
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="Mask">
    <a href="#" class="mask-image"><img src="" alt=""></a>
</div>