@{ 
    Layout = "_managerCenterViewLayout";
} 

<!--内容区开始-->
<div>
    <div class="container">
        <div class="content_per">
            <div>
                <h3 class="title_per">个人设置</h3>
            </div>
            <div class="clearfix">
                <div class="sc-left nav-left-setting">
                    <div class="hs-manager">
                        <h4 class="hs-info"><i class="fa fa-address-card-o"></i>个人资料</h4>
                        <ul>
                            <li class="info-nav-li">
                                <a href="#" class="Index">信息设置</a>
                            </li>
                            <li class="info-nav-li">
                                <a href="#" class="Hobby">我的爱好</a>
                            </li>
                            <li class="info-nav-li">
                                <a href="#" class="headPortrait">我的头像</a>
                            </li>
                        </ul>
                    </div>
                    <div class="hs-manager">
                        <h4 class="hs-info"><i class="fa fa-gear"></i>我的操作</h4>
                        <ul>
                            <li class="info-nav-li">
                                <a href="#" class="userFriends">关注</a>
                            </li>
                            <li class="info-nav-li">
                                <a href="#" class="messageNotification">消息通知 <span style="" class="notificationNumber" id="messageNotificationNumber"></span></a>
                            </li>
                            <li class="info-nav-li">
                                <a href="#" class="anAssociation">我的社团</a>
                            </li>
                            <li class="info-nav-li">
                                <a href="#" class="activity">我的活动</a>
                            </li>
                            <li class="info-nav-li">
                                <a href="#" class="addAnAssociation">创建社团</a>
                            </li>
                            <li class="info-nav-li">
                                <a href="#" class="addActivity">创建活动</a>
                            </li>
                        </ul>
                    </div>
                    <div class="hs-manager">
                        <h4 class="hs-info"><i class="fa fa-lock"></i>安全设置</h4>
                        <ul>
                            <li class="info-nav-li">
                                <a href="#" class="user-Password">我的密码</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix info-setting" id="managerCenter">
                   
                </div>

            </div>
        </div>
    </div>
</div>
<!--内容区结束-->
