<div class="clearfix info-setting">
    <div>
        <div>
            <h5 class="title_per title-in">更改密码</h5>
        </div>
        <div class="">
            <div class="info-height">
                <div class="info-fill-in">
                    <label class="info-label">旧密码：</label>
                    <div class="operation-box con-color">
                        <input type="password" class="input-required" name="password" value="">
                    </div>
                    <span class="input-cue user-password-error" style="display:inline-block"></span>
                </div>
            </div>
            <div class="info-height">
                <div class="info-fill-in">
                    <label class="info-label">新密码：</label>
                    <div class="operation-box con-color">
                        <input type="password" class="input-required" name="newPassword" value="">
                    </div>
                    <span class="input-cue user-new-password-erroe" style="display:inline-block"></span>
                </div>
            </div>
            <div class="info-height">
                <div class="info-fill-in">
                    <label class="info-label">确认密码：</label>
                    <div class="operation-box con-color">
                        <input type="password" class="input-required" name="identifyPassword" value="">
                    </div>
                    <span class="input-cue user-head identify-password-error" style="display:inline-block"></span>
                </div>
            </div>
            <div class="info-height">
                <div class="info-fill-in">
                    <label style="color: #ff8708;">提示：密码至少六位数，并且包含数字和字母</label>
                </div>
            </div>
        </div>
        <div class="info-operation-bottom">
            <button class="save-user-password">保存</button>
        </div>
    </div>
</div>
<div class="Mask">
    <a href="#" class="mask-image"><img src="" alt=""></a>
</div>

<script>
    password();
</script>