<!-- 用于处理业务数据新增或者编辑数据的弹出会话框 -->
<div class="modal fade" id="hobbyPhoneModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @*<div id="Create_Edit">
                <div class="Per_dia">*@
            <div class="Title">
                <button type="button" style="opacity: 1;" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="btn btn-primary sc-color query-user" aria-hidden="true">取消</span>
                </button>
                <h2 class="sub-header">编辑爱好图片</h2>
            </div>

            <div class="modal-body" id="hobbyPhoneArea">
                <!-- 内容 -->
            </div>
        </div>
    </div>
</div>