@{
    Layout = "_TemplateInterfaceLayout";
}

<!--个人简介和导航开始-->
<div class="header">
    <div class="container">
        <div class="portrait sc-left">
            <a href="#" class="por_a"><img src="/images/BusinessView/ShoolStart/activity/big2.jpg" alt=""></a>
        </div>
        <div class="person-introduce">
            <div>
                <a href="#" class="personName" title="查看个人详细资料">校园启行录</a>
                <h5 class="autograph">曾经想念一个人睡不着，原来我一个人可以活得更好</h5>
                <div class="per-ah autograph">
                    <h5 class="son sc-left">校龄：<span>1</span></h5>
                    <span class="son autograph">柳州职业技术学院</span>
                </div>
            </div>
            <div class="navigation nav navbar-nav">
                <ul>
                    <li><a class="per-link" href="#">我的活动</a></li>
                    <li><a class="per-link" href="#">活动记录</a></li>
                    <li><a class="per-link" href="#">我的社团</a></li>
                    <li><a class="per-link" href="#">我的相册</a></li>
                    <li><a class="per-link" href="#">我的评论</a></li>
                    <li><a class="per-link" href="#">其它</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--个人简介和导航开始-->
<div>
    <div class="container">
        <div class="content_per">
            <h3 class="title_per">个人设置</h3>
            <div class="clearfix">
                <div class="sc-left nav-left-setting">
                    <div class="hs-manager">
                        <h4 class="hs-info"><i class="fa fa-address-card-o"></i>个人资料</h4>
                        <ul>
                            <li class="info-nav-li">
                                <a href="#">信息设置</a>
                            </li>
                            <li class="info-nav-li">
                                <a href="#">我的爱好</a>
                            </li>
                            <li class="info-nav-li">
                                <a href="#">我的头像</a>
                            </li>
                        </ul>
                    </div>
                    <div class="hs-manager">
                        <h4 class="hs-info"><i class="fa fa-lock"></i>权限设置</h4>
                        <ul>
                            <li class="info-nav-li">
                                <a href="#">谁能看我的好友</a>
                            </li>
                            <li class="info-nav-li">
                                <a href="#">谁能看我的信息</a>
                            </li>
                            <li class="info-nav-li">
                                <a href="#">智能推送设置</a>
                            </li>
                            <li class="info-nav-li">
                                <a href="#">通知设置</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix info-setting">
                    <div style="display: none">
                        <h5 class="title_per title-in">信息设置</h5>
                        <div class="info-height">
                            <div class="info-fill-in">
                                <label class="info-label">名称：</label>
                                <input type="text" class="input-required" data_required="true">
                                <span class="input-cue">请输入姓名</span>
                            </div>
                        </div>
                        <div class="info-height">
                            <div class="info-fill-in">
                                <label class="info-label">性别：</label>
                                <select name="" id="" class="input-required selsect-re">
                                    <option value="">我的天</option>
                                    <option value="">我的地</option>
                                </select>
                            </div>
                        </div>
                        <div class="info-height">
                            <div class="info-fill-in">
                                <label class="info-label">生日：</label>
                                <input type="text" class="input-required" data_required="true" placeholder="2015-10-14">
                                <span class="input-cue">请选择生日</span>
                            </div>
                        </div>
                        <div class="info-height">
                            <div class="info-fill-in">
                                <label class="info-label">地址：</label>
                                <input type="text" class="input-required" data_required="true">
                                <span class="input-cue">请输入地址</span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h5 class="title_per title-in">我的爱好</h5>
                        <div class="per-hobby">
                            <h5 class="title-in title-ho">先从你喜欢的东西开始，让别人了解你。</h5>
                            <div class="hobby-list clearfix">
                                <p class="ch-ho-p">请选择你的爱好!!<a href="#">换一批</a></p>
                                <div class="ho-choose clearfix" id="ho-choose">
                                    <ul>
                                        <li><label hobby_Id="11111-1111111-11111111">唱歌</label></li>
                                        <li><label hobby_Id="11111-1111111-11111112">跳舞</label></li>
                                        <li><label hobby_Id="11111-1111111-11111113">骑行</label></li>
                                        <li><label hobby_Id="11111-1111111-11111114">拍照</label></li>
                                        <li><label hobby_Id="11111-1111111-11111115">旅游</label></li>
                                        <li><label hobby_Id="11111-1111111-11111116">看电影</label></li>
                                        <li><label hobby_Id="11111-1111111-11111117">听歌</label></li>
                                        <li><label hobby_Id="11111-1111111-11111118">小说</label></li>
                                        <li><label hobby_Id="11111-1111111-11111119">乒乓球</label></li>
                                        <li><label hobby_Id="11111-1111111-11111110">篮球</label></li>
                                        <li><label hobby_Id="11111-1111111-11111121">足球</label></li>
                                        <li><label hobby_Id="11111-1111111-11111131">羽毛球</label></li>
                                        <li><label hobby_Id="11111-1111111-11111141">网球</label></li>
                                        <li><label hobby_Id="11111-1111111-11111151">唱歌</label></li>
                                        <li><label hobby_Id="11111-1111111-11111161">跳舞</label></li>
                                        <li><label hobby_Id="11111-1111111-11111171">骑行</label></li>
                                        <li><label hobby_Id="11111-1111111-11111181">拍照</label></li>
                                        <li><label hobby_Id="11111-1111111-11111191">旅游</label></li>
                                        <li><label hobby_Id="11111-1111111-11141111">看电影</label></li>
                                        <li><label hobby_Id="11111-1111111-11141112">听歌</label></li>
                                        <li><label hobby_Id="11111-1111111-11141113">小说</label></li>
                                        <li><label hobby_Id="11111-1111111-11141114">乒乓球</label></li>
                                        <li><label hobby_Id="11111-1111111-11141115">篮球</label></li>
                                        <li><label hobby_Id="11111-1111111-11141116">足球</label></li>
                                        <li><label hobby_Id="11111-1111111-11141117">羽毛球</label></li>
                                        <li><label hobby_Id="11111-1111111-11141118">网球</label></li>
                                        <li><label hobby_Id="11111-1111111-11141119">唱歌</label></li>
                                        <li><label hobby_Id="11111-1111111-11111132">跳舞</label></li>
                                        <li><label hobby_Id="11111-1111111-11112251">骑行</label></li>
                                        <li><label hobby_Id="11111-1111111-11111311">拍照</label></li>
                                        <li><label hobby_Id="11111-1111111-11116111">旅游</label></li>
                                        <li><label hobby_Id="11111-1111111-11116311">看电影</label></li>
                                        <li><label hobby_Id="11111-1111111-11112111">听歌</label></li>
                                        <li><label hobby_Id="11111-1111111-11111321">小说</label></li>
                                        <li><label hobby_Id="11111-1111111-11111341">乒乓球</label></li>
                                        <li><label hobby_Id="11111-1111111-11111351">篮球</label></li>
                                        <li><label hobby_Id="11111-1111111-11111231">足球</label></li>
                                        <li><label hobby_Id="11111-1111111-11111211">羽毛球</label></li>
                                        <li><label hobby_Id="11111-1111111-11111711">网球</label></li>
                                    </ul>
                                </div>
                                <div class="ho-see clearfix" id="ho-see">
                                    <ul></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

