<!-- 用于处理业务数据新增或者编辑数据的弹出会话框 -->
<div class="modal fade" id="createOrEditModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @*<div id="Create_Edit">
                <div class="Per_dia">*@
            <div class="Title">
                <button type="button" style="opacity: 1;" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="btn btn-primary sc-color query-person" aria-hidden="true">取消</span>
                </button>
                @*<a href="#" type="button" class="" aria-hidden="true" onclick="shutCreateOrEdit()"></a>*@
                <h2 class="sub-header">编辑社团数据</h2>
            </div>

            <div class="modal-body" id="createOrEditArea">
                <!-- 内容 -->
            </div>
            @*</div>
                </div>*@
        </div>
    </div>
</div>